// https://colorswall.com/palette/13062
$pink: #d30cb8;
$slime: #6df1d8;
$slime-dark: #5da4a6;
$purple: #5c2c6d;
$purple-dark: #3c345c;
$grey: #b8aec8;
// https://coolors.co/080026-ffffff-f87060-3891a6-4c5b5c
$casper-dark: #080026;
$orange: #F87060;
$blue: #3891A6;
$gray: #4C5B5C;