<h1 class="welcome-to-dev">Welcome to the dev environment! Lets solve some problems</h1>
<p class="action-director">click on the button to start the tour</p>

<div class="home-container">
	<h1>Home</h1>
	<h1
		[ghostRiderStep]="{
			name: 'tour.firstStep',
			title: 'Step 1 Title',
			content: firstStepTpl
		}"
		(ghostRiderStepEvent)="handleEvent($event)"
	>
		Let's Start... Step 1
	</h1>
</div>

<button (click)="startTour()">Start Tour</button>

<ng-template
	cdkPortal
	#firstStepTpl="cdkPortal"
>
	<h1>Home Route</h1>
	<p>
		<i>
			This step uses a portal for it's content
		</i>
	</p>
</ng-template>