<!-- class="slime" -->
<h1
	class="casper"
	[ghostRiderStep]="{
		name: 'tour.title',
		title: 'Welcome!',
		content: titleTpl
	}"
	(click)="startTour()"
>
	Ghost Rider
</h1>

<h2 class="subtitle">Create guided tours in Angular</h2>

<button
	class="documentation-button"
	[ghostRiderStep]="{
		name: 'tour.documentation',
		title: 'Let\'s See Some Features!',
		content: documentationTpl
	}"
	ghostRiderStepAdvance
	(ghostRiderStepEvent)="handleEvent($event)"
>
	Documentation
</button>

<img
	src="assets/images/ghost.svg"
	class="ghost"
>

<ng-template
	cdkPortal
	#titleTpl="cdkPortal"
>
	<p>Ghost Rider is a library for creating guided tours in Angular.</p>
	<p>Let's check out what it can do!</p>
</ng-template>

<ng-template
	cdkPortal
	#documentationTpl="cdkPortal"
>
	<p>Click the button or click 'Next' in the step</p>
</ng-template>