<!-- Title -->
<div
	class="flex flex-col self-center w-fit mt-2"
	[ghostRiderStep]="{
		name: 'tour.title',
		title: 'Welcome!',
		content: titleTpl
	}"
	(click)="startTour()"
>
	<!-- class="slime" -->
	<h1 class="casper text-center w-fit m-0 px-6 cursor-pointer text-black font-thin">Ghost Rider</h1>
	<h2 class="text-2xl text-white text-center">Create guided tours in Angular</h2>
</div>
<!-- Documentation Step / Button -->
<div class="flex justify-center mt-4">
	<button
		class="w-fit bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-full"
		[ghostRiderStep]="{
			name: 'tour.documentation',
			title: 'Let\'s See Some Features!',
			content: documentationTpl
		}"
		(ghostRiderStepAdvance)="handleEvent($event)"
		(ghostRiderStepEvent)="handleEvent($event)"
	>
		Documentation
	</button>
</div>
<!-- Details -->
<div class="details-container text-white grid">
	<div
		class="step-container"
		[ghostRiderStep]="{
			name: 'tour.routerSupport',
			title: 'Why Routing?',
			content: 'It would be frightening if your app didn\'t have multiple pages.',
			position: 'after'
		}"
	>
		<ng-container *ngTemplateOutlet="sellingPointTpl; context: {
			$implicit: {
				title: 'Router Support',
				text: 'Ghost Rider is reactive so steps won\'t get ghosted when nagivating to other pages and routes'
			}
		}"></ng-container>
	</div>
	<div
		class="step-container"
		[ghostRiderStep]="{
			name: 'tour.zeroDependencies',
			title: '100% Angular',
			content: 'No unnecessary packages ship with Ghost Rider.',
			position: 'right'
		}"
	>
		<ng-container *ngTemplateOutlet="sellingPointTpl; context: {
			$implicit: {
				title: 'Zero Dependencies',
				text: 'Boo-lieve it or not, there are no external libraries haunting us'
			}
		}"></ng-container>
	</div>
	<div
		class="step-container"
		[ghostRiderStep]="{
			name: 'tour.reactiveEvents',
			title: '💡 Tip!',
			content: 'Steps can emit events when a tour starts, ends, and navigating to and from other steps. You can learn more in the documentation section.',
			position: 'after'
		}"
	>
		<ng-container *ngTemplateOutlet="sellingPointTpl; context: {
			$implicit: {
				title: 'Reactive Events and Hooks',
				text: 'Each step of a tour provides it\'s own set of events and hooks for a customizable experience with no dead ends'
			}
		}"></ng-container>
	</div>
</div>
<!-- Step Templates -->
<ng-template
	cdkPortal
	#titleTpl="cdkPortal"
>
	<p>Lift your spirits with <b>Ghost Rider</b>, a tool to bring your onboarding process out of the graveyard!</p>
	<!-- <p>Ghost Rider is a library for creating guided tours in Angular.</p> -->
	<p>Let's check out what it can do!</p>
</ng-template>

<ng-template
	cdkPortal
	#documentationTpl="cdkPortal"
>
	<p>Click the button or click 'Next' in the step.</p>
</ng-template>
<!-- Ghost Icon -->
<ng-template
	#sellingPointTpl
	let-details
>
	<div class="flex">
		<span
			class="iconify text-white w-5 h-5 mr-2"
			data-icon="simple-line-icons:ghost"
		></span>
		<h2 class="m-0">{{ details.title }}</h2>
	</div>
	<p>{{ details.text }}</p>
</ng-template>