@import '../../../sass/variables';
@import '../../../sass/mixins';

:host {
	@include flex-container-vertical();
	@include flexi-fill-height();
}

.casper {
	font-family: 'Casper', sans-serif;
	font-size: 10em;
	text-shadow:
		0 3px 1px white,
		0 2px 1px white,
		0 1px 1px white,

		0 -3px 1px white,
		0 -2px 1px white,
		0 -1px 1px white,

		3px 0 1px white,
		2px 0 1px white,
		1px 0 1px white,

		-3px 0 1px white,
		-2px 0 1px white,
		-1px 0 1px white,

		10px 15px 25px white;
}

// .slime {
// 	font-weight: 100;
// 	text-align: center;
// 	width: fit-content;
// 	color: white;
// 	font-family: 'Halloween', sans-serif;
// 	font-size: 5em;
// 	margin: 0;
// 	text-shadow:
// 		0 0 5px black,
// 		0 0 1px $slime,
// 		5px 10px 10px $slime,
// 		-5px -5px 15px $slime,
// 		-2px -2px 10px $slime,
// 		5px 1px 1px $slime;
// }

div.details-container {
	grid-template-columns: 25% 25% 25%;
	grid-template-rows: auto;

	.step-container {
		border: 1px solid white;
		box-shadow: 5px 6px 17px 0px white;

		&.ghost-rider-walkthrough-step_active {
			border-color: transparent;
		}
	}

	>* {
		padding: .5rem;
		margin: 5px;
		border-radius: 5px;

		:not(p) {
			text-shadow:
				1px 1px 1px black,
				4px 5px 6px white,
				13px 10px 21px white;
		}
	}

	:nth-child(2) {
		grid-row-start: 2;
		grid-column-start: 2;
	}

	:nth-child(3) {
		grid-row-start: 3;
		grid-column-start: 3;
	}
}